<div class="game_area">
    <div>
      <div class="buttons_container">
      
      <button class="ll_button"  (click)="addCircle()">
        Add
      </button>
      <button class="ll_button" (click)="clearAll()">
        Clear All
      </button>
  
      <button class="ll_button" (click)="removeSelected()">
        Delete Selected
      </button>
        
      <button (click)="toHome()" class="ll_button"> Back </button>     
  
    </div>

    <div class="particle_container">    
        <div class="particle_label">r: {{r}}</div>
        <input id="m" type="range" min="10" max="200" [(ngModel)]="r" (change)="updateSelected()" />  
    </div>

    <svg class="svg_canvas" 
    (click)="onCanvasClick($event)">
    @for(c of circles;track i; let i = $index){
        <circle class="game_circle" [attr.cx]="c.x" [attr.cy]="c.y"
            [attr.r]="c.r"
            [class.choosen]="c.choosen" (click)="onCircleClick($event,i)" />          
    }
    @for(l of lines;track i; let i = $index){
        <line class="circle-line"  [attr.x1]="l.x1" [attr.x2]="l.x2" [attr.y1]="l.y1" 
        [attr.y2]="l.y2"
        />      
            
    }
    </svg>
    


    </div>
  </div>