textarea {
    width: 100%; /* Make the textarea take full width */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
    margin-bottom: 10px; /* Add some space below the textarea */
}

.buttons_container {
    display:flex;
    padding-top: 20px;    
    gap: 10px;
}
table {
    width: 100%;
    border-collapse: collapse;
}
td {
    width: 50%;
}
