<table>
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            @if(sheetName!=='mother_nature') {
            <th>
                Protein
            </th>
            }
            <th>
                Svg
            </th>
            <th>
                Edit
            </th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @for(card of cards;track card) {
        <tr>
            <td>{{ card.name }}</td>
            <td>{{ card.description }}</td>
            @if(sheetName!=='mother_nature') {
            <td>{{ card.protein }}</td>
            }
            <td [innerHTML]="displaySafeSvg(card)"></td>
            <td>
                <button class="icon_class" (click)="editCard(card)">
                    <i class="fa fa-pencil"></i>
                </button>
            </td>
            <td>
                <button class="icon_class" (click)="deleteCard(card)">
                    <i class="fa fa-trash"></i>
                </button>
            </td>
        </tr>
        }
    </tbody>
</table>