<div class="menu_class">
    <h1>Nim</h1>
    <app-menu-button [text]="'Play'" [action]="action"/>
    <app-menu-button [text]="'Home'" [action]="toHome"/>
    <div class="data_settings">
      <div class="ll_value">Custumize</div>
      <input id="time" type="checkbox" [(ngModel)]="custumize" (change)="changeCustumize()" /> 
    </div>
      @if(custumize) {
        <div class="custume_rows">
          @for(r of custumeRows;track trackByIndex; let i = $index) {
            <div class="ll_value">row {{i+1}}: {{r}}</div>
            <input id="'r'+i" type="range" min="1" max="7" [(ngModel)]="custumeRows[i]" (change)="changeCustomRows()" /> 
            <button class="icon_class" (click)="removeRow(i)">
              <i class="fa fa-minus"></i>
            </button>
          }
          <button class="icon_class" (click)="addRow()">
            <i class="fa fa-plus"></i>
          </button>
      </div>
      } @else {
        <div class="data_settings">
          <div class="ll_value">Rows: {{numberOfRows}}</div>
          <input id="time" type="range" min="1" max="7" [(ngModel)]="numberOfRows" (change)="changeNumberOfRows()" /> 
          <div class="ll_value">Max rows in line: {{maxLinesInRow}}</div>
          <input id="time" type="range" min="1" max="7" [(ngModel)]="numberOfRows" (change)="changeMaxLinesInRow()" />  
        </div>   
      }

    <h1 class="nim_text">
        @switch (status) {
            @case ('win') {
              Awesome, you WIN
            }
            @case ('loose') {
              You loose, don't worry try again. It's just an algorithm once you figure it out you will win every time.
            }
            @default {
                when it's your turn take one or more matches from one row. 
                Then the computer will do the same. If you take the last match you win.
            }
          }
        </h1>
 </div>