<div class="card_list">
    @for(card of cards;track card) {
    <div class="card_container">
        <app-card [svg]="card.svg" [name]="card.name" [description]="card.description"
            [protein]="card.protein"></app-card>
           <div>
         <div class="buttons_container">  
            <button class="icon_class" (click)="editCard(card)">
                <i class="fa fa-pencil"></i>
            </button>
            <button class="icon_class" (click)="deleteCard(card)">
                <i class="fa fa-trash"></i>
            </button>
        </div> 
    </div> 
    </div>
    }
</div>