.card_list {
    padding-top: 20px;    
    display: grid;
    grid-template-columns: auto;
    gap: 20px;
}

.card_container {
    display:flex; 
    gap: 10px;
}

.buttons_container {
    display: grid;
    grid-template-columns: auto;
    gap: 10px;

}