.card_list {
    padding-top: 10px;    
    padding-bottom: 10px;  
    display: grid;
    grid-template-columns: auto;
    gap: 5px;
}

.card_list.one {
    display: grid;
    grid-template-columns: auto;
}
.card_list.two {
    display: grid;
    grid-template-columns: auto auto;
}
.card_list.three {
    display: grid;
    grid-template-columns: auto auto auto;
}

.card_list.four {
    display: grid;
    grid-template-columns: auto auto auto auto;
}


.card_container {
    display:flex; 
    gap: 1px;
}

.size_container {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.buttons_container {
    display: grid;
    grid-template-columns: auto;
    gap: 1px;
}

.rows_label {
    color:white;
}

.rows_container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 1px;
}

