

<div class="menu_class">
    <app-menu-button [text]="'Learn slo'" [action]="toSlo"/>
    <app-menu-button [text]="'Learn it'" [action]="toIt"/>
    <app-menu-button [text]="'Learn srb'" [action]="toSrb"/>
    <app-menu-button [text]="'Learn de'" [action]="toDe"/> 
    <app-menu-button [text]="'Play nim'" [action]="toNim"/>   
    <app-menu-button [text]="'Cards'" [action]="toCards"/>  
    <app-menu-button [text]="'Physics'" [action]="toPhysics"/>     
    <app-menu-button [text]="'Fractal'" [action]="toFractal"/>     
    <app-menu-button [text]="'3d model'" [action]="toModel3d"/>     
    <app-menu-button [text]="'Enviormental cards'" [action]="toEnviorment"/>     
    <app-menu-button [text]="'Circle Visibility'" [action]="toCircleVisibility"/>     
    <app-menu-button [text]="'Nepali'" [action]="toNepali"/>     



    
    <!--
    <app-menu-button [text]="'SVG image generator'" [action]="toImageSvgGenerator"/>
    <app-menu-button [text]="'Basic image generator'" [action]="toImageBasicGenerator"/>
    -->
 </div>
    



