<div class="game_area">
    <div>
        <h1>New words</h1>
        <div class="language_container">
            <label for="sourceLanguage">{{ sourceLanguage }}
                <input id="sourceLanguage" type="text" [(ngModel)]="textToTranslate" />
            </label>
            <button (click)="translate()" class="ll_button" [disabled]="!allowTranslate()">Translate</button>
            <label for="targetLanguage">{{ targetLanguage }}
                <input id="targetLanguage" type="text" [(ngModel)]="translatedText" />
            </label>
        </div>
        <h2>Categories</h2>
        <div class="categories_container">
            @for(con of categories; track con) {
                <label>
                <input type="radio" [name]="con" [(ngModel)]="selectedCategory" [value]="con">
                 {{con}} </label>
            }
        </div>
        @if(selectedCategory === other) {
        <input id="newCategory" type="text" [(ngModel)]="newCategory" />
        }        
        <div class="buttons_container">
            <button (click)="onSubmit()" class="ll_button" [disabled]="!allowSubmit()">Submit</button>
            <button (click)="toHome()" class="ll_button"> Back </button>  
        </div>
    </div>
</div>