input {
    width: 100%;
    margin-bottom: 10px;
}

.buttons_container {
  display:flex;
  padding-top: 20px;    
  gap: 10px;
}

.categories_container {
  padding-top: 5px;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  padding: 10px;
}

.language_container {
  padding-top: 5px;
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
  padding: 10px;
}

.ll_button:disabled {
  opacity: 0.56
}

dialog {
  border: solid 1px #ccc;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  background-color: #02643b;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  width: 50%;
}

.icon_class {
  background-color: #02643b;
  border-width: 0;
}

.icon_class i {
  color:#fffffffb;  
}