<div class="game_area">
    <div>
        <h1>New words</h1>
        <app-word-edit-dialog 
        #wordEditDialogComponent
        [submit]="onSubmitWord"
        [sourceLanguage]="sourceLanguage"
        [targetLanguage]="targetLanguage"       
        />
        <app-words-generator
          #wordsGeneratorComponent
          [submit]="submitGenerator"
          [sourceLanguage]="sourceLanguage"
          [targetLanguage]="targetLanguage"
        />
        @if(loading) {
          <div class="loading">Loading...</div>
        } @else {
          <h2>Categories</h2>
          <div class="categories_container">
              @for(con of categories; track con) {
                  <label>
                  <input type="radio" [name]="con" [(ngModel)]="selectedCategory" [value]="con">
                   {{con}} </label>
              }
          </div>
          @if(selectedCategory === 'other') {
          <input id="newCategory" type="text" [(ngModel)]="newCategory" />
          } 
          <div class="buttons_container">
              <button (click)="openDialog()" class="ll_button" [disabled]="noCategory()">New Word</button>
              <button (click)="openAIDialog()" class="ll_button" [disabled]="noCategory()">New Words with AI</button>
              <button (click)="toHome()" class="ll_button"> Back </button>  
          </div>
          @if(selectedCategory) {
          <table>
              <thead>
                <tr>
                  <th>
                      {{ sourceLanguage }}
                  </th>
                  <th>
                      {{ targetLanguage }}
                  </th>          
                </tr>
              </thead>
              <tbody>
                @for(word of displayWords();track word) {
                  <tr>
                    <td>{{ word.sourceLanguage }}</td>
                    <td>{{ word.targetLanguage }}</td> 
                    <td>
                      <button class="icon_class" (click)="editWord(word)">
                      <i class="fa fa-pencil"></i>
                      </button>
                    </td>   
                    <td>
                      <button class="icon_class" (click)="deleteWord(word)">
                        <i class="fa fa-trash"></i>
                      </button>
                    </td>                    
                  </tr>
                }
              </tbody>
            </table>
          }
        }
    </div>
</div>