<dialog #particleEditDialog>
    <div class="card_container">
        <div class="card_label">x:</div>
        <input id="x" type="number"[(ngModel)]="x" />
        <div class="card_label">y:</div>
        <input id="y" type="number"[(ngModel)]="y" />
        <div class="card_label">vx:</div>
        <input id="vx" type="number"[(ngModel)]="vx" />
        <div class="card_label">vy:</div>
        <input id="vy" type="number"[(ngModel)]="vy" />        
        <div class="card_label">m:</div>
        <input id="m" type="number"[(ngModel)]="m" />      
        <button (click)="onSubmit()" class="ll_button" >Submit</button>
        <button (click)="close()" class="ll_button">Close</button>
    </div>
</dialog>