<div class="game_area">
    <div>
        <h1>Generate image</h1>
        <h2>Generate an SVG containing</h2>
        <textarea [(ngModel)]="prompt" rows="5" cols="50"></textarea>
        <div class="buttons_container">
            <button (click)="generateImage()" class="ll_button">Generate Image</button>
            <button (click)="toHome()" class="ll_button"> Back </button> 
        </div>
        @if(loading==='loading') {
            <div class="loading">Loading...</div>
          } @else if(loading==='done'){
            <textarea [(ngModel)]="svgCode" rows="5" cols="50"></textarea>
            <div [innerHTML]="safeSvg"></div>
          }
    </div>
</div>