.card {
    width: calc(var(--card-width));    
    height: calc(var(--card-height));
    border: 1px solid black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 5px;
    background-color: var(--ll-background-color);
    transition: box-shadow 0.3s ease;
    text-align: center;
    display: block;
    gap: 2px;
  }

.card.round-corners {
  border-radius: 16px;    
}
  
  .card:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }
  
.card-title {
    font-size: 16px;
    font-weight: 600;
  }
  
.card-description {
    font-size: 14px;
  }
  
.card-protein {
    font-size: 15px;
  }
  
  .protein-number {
    font-weight: bold;
  }

.card-image {
    height: 100px;
    width: 100px;
}

.mother_nature {
    color:white;
    background-color: green;
}

.genes{
    color:black;
    background-color: yellow;
}

.genetic_engineering {
    color:white;
    background-color: blue;
}