.card {
    width: 260px;
    border: 1px solid black;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 16px;
    background-color: #02643b;
    transition: box-shadow 0.3s ease;
    text-align: center;
  }
  
  .card:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }
  
  .card-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 8px;
    color: white;
  }
  
  .card-description {
    font-size: 14px;
    color: white;
    margin-bottom: 12px;
  }
  
  .card-protein {
    font-size: 15px;
    color: white;
  }
  
  .protein-number {
    font-weight: bold;
    color: white;
  }