<div class="card" [class.round-corners]="roundCorners" [class.permament_genes]="sheetName === 'permament_genes'" 
[class.one_time_genes]="sheetName === 'one_time_genes'" [class.mother_nature]="sheetName === 'mother_nature'" 
[class.science]="sheetName === 'science'" [class.primary]="sheetName === 'primary'">
    @if(image_name!=='') {
    <img class="card-image" [src]="imageUrl" />
    } @else {
    <div class="card-image"></div>
    }
    <div class="card-title">{{ name }}</div>
    <p class="card-description">{{ description }}</p>
</div>