.card {
  width: calc(var(--card-width));    
  height: calc(var(--card-height));
  border: 1px solid black;
  padding: 5px;
  background-color: var(--ll-background-color);
  transition: box-shadow 0.3s ease;
  text-align: center;
  display: block;
  gap: 0;
}

.card.round-corners {
  border-radius: 16px;    
}
  
.card:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}
  
.card-title {
  font-size: 16px;
  font-weight: 600;
}
  
.card-description {
  font-size: 14px;
}

.card-image {
  height: 100px;
  width: 100px;
}

.mother_nature {
  color:white;
  background-color: green;
}

.mother_nature div{
  color:white;
}

.genes{
  color:black;
  background-color: yellow;
}

.genes div {
  color:black;
}

.science {
  color:white;
  background-color: blue;
}

.science div {
  color:white;
}