<div class="game_area">
    <div>
        <h1>Cards</h1>
        <app-card-edit-dialog 
        #cardEditDialogComponent
        [submit]="onSubmitCard"  
        />
        @if(loading) {
          <div class="loading">Loading...</div>
        } @else {

          <app-cards-tabele
            [editCard]="editCard"
            [deleteCard]="deleteCard"
            [addCard]="addCard"
            [cards]="cards"
          />
          <app-cards-list
          [editCard]="editCard"
          [deleteCard]="deleteCard"
          [addCard]="addCard"
          [cards]="cards"
          />

            <div class="buttons_container">
              <button (click)="toHome()" class="ll_button"> Back </button>  
          </div>           
        }
    </div>
</div>