<div class="game_area">
  <div>
    <app-card-edit-dialog #cardEditDialogComponent [sheetName]="sheetName" [submit]="onSubmitCard" />
    <h2>Cards</h2>
    <div class="buttons_container">
      <button (click)="toHome()" class="ll_button"> Back </button>      
      <button class="ll_button" (click)="changeSheet('permament_genes')" [class.selected]="sheetName === 'permament_genes'">Genes </button>
      <button class="ll_button" (click)="changeSheet('one_time_genes')" [class.selected]="sheetName === 'one_time_genes'">Actions</button>
      <button class="ll_button" (click)="changeSheet('reproduction')" [class.selected]="sheetName === 'reproduction'">Reproduction</button>
      <button class="ll_button" (click)="changeSheet('disasters')" [class.selected]="sheetName === 'disasters'">Disasters</button>
      <button class="ll_button" (click)="changeSheet('human')" [class.selected]="sheetName === 'human'">Human </button>
      <button class="ll_button" (click)="changeSheet('primary')" [class.selected]="sheetName === 'primary'">Primary </button>
      <button class="ll_button" (click)="reload()" >Reload </button>
      @if(displayTabele===false) {
        <button class="ll_button" (click)="exportPdf()" >PDF </button>
      }

    </div>  
    @if(loading) {
    <div class="loading"></div>
    } @else {

    <div class="buttons_container">
      <button class="ll_button" (click)="changeView()" [class.selected]="displayTabele===false">List </button>     
      <button class="ll_button" (click)="changeView()" [class.selected]="displayTabele===true">Tabele </button>
      <button class="icon_class" (click)="addCard()">
        <i class="fa fa-plus"></i>
      </button>
    </div>
    @if(displayTabele) {
        <app-cards-tabele [editCard]="editCard" [deleteCard]="deleteCard" [cards]="cards[sheetName]" [sheetName]="sheetName" />
    } @else {
        <app-cards-list #cardsListComponent [editCard]="editCard" [deleteCard]="deleteCard" [hideCard]="hideCard" [cards]="cards[sheetName]" [sheetName]="sheetName" />
    }
  }
  </div>
</div>