.buttons_container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding-top: 5x;    
    padding-bottom: 5px;   
    gap: 10px;

  }

.ll_canvas{
    width: calc(var(--window-height) - 50px);   
    height: calc(var(--window-height) - 50px);
    max-height: calc(var(--window-height) - 50px);
    border:1px solid black;
}

.card_label {
    color:white;
  }