

<div class="game_area">
  <div>
    <div class="buttons_container">
    <button class="ll_button" [class.selected]="isRunning===true" (click)="toggleAnimation()">
      {{ isRunning===true ? 'Stop' : 'Start' }}
    </button>
    <button class="ll_button"  (click)="addParticle()">
      Add
    </button>
    <button class="ll_button" (click)="clearAll()">
      Clear All
    </button>
    <button class="ll_button" (click)="removeSelected()">
      Delete Selected
    </button>
    <button (click)="toHome()" class="ll_button"> Back </button>     

  </div>
@if(isRunning === false) {
  <div class="particle_container">
      <div class="particle_label">vx: {{vx}}</div>
      <input id="vx" type="range" min="-10" max="10" [(ngModel)]="vx" (change)="updateSelected()" />
      <div class="particle_label">vy: {{vy}}</div>
      <input id="vy" type="range" min="-10" max="10" [(ngModel)]="vy" (change)="updateSelected()" />        
      <div class="particle_label">m: {{m}}</div>
      <input id="m" type="range" min="0" max="50" [(ngModel)]="m" (change)="updateSelected()" />  
      <div class="particle_label">e: {{e}}</div>
      <input id="e" type="range" min="-50" max="50" [(ngModel)]="e" (change)="updateSelected()" />       
      <div class="particle_label">G: {{gravitationalConstant}}</div>
      <input id="gravitationalConstant" type="range" min="0" max="5000" [(ngModel)]="gravitationalConstant" />   
      <div class="particle_label">E: {{electricallConstant}}</div>
      <input id="electricallConstant" type="range" min="0" max="5000" [(ngModel)]="electricallConstant" />   
  </div>
}
  <canvas #particleCanvas class="ll_canvas" (click)="onCanvasClick($event)"></canvas>
  </div>
</div>