
<app-particle-dialog #particleEditDialog [submit]="onSubmitParticle" />
<div class="game_area">
  <div>
    <div class="buttons_container">
    <button class="ll_button" (click)="toggleAnimation()">
      {{ isRunning ? 'Stop' : 'Start' }}
    </button>
    <button class="ll_button" (click)="addParticle()">
      Add particle
    </button>
    <button class="ll_button" (click)="clearAll()">
      Clear All
    </button>
    <div class="card_label">G:</div>
    <input id="g" type="number"[(ngModel)]="gravitationalConstant" />
  </div>

    <br>
    <canvas  #particleCanvas  class="ll_canvas"></canvas>
  </div>
</div>