
<h1>
    {{ title }}
</h1>
@if(loading) {
    <div class="loading">Loading...</div>
  } @else {
@if( categories.length>1){
    <h2>
    Choose categories
    </h2>
    <div class="categories_container">
        @for(con of categories; track con) {
        <div>
            <input type="checkbox" id="{{con.category}}" name="{{con.category}}" [(ngModel)]="con.selected" (ngModelChange)="categoriesValueChange()">
            <label for="{{con.category}}"> {{con.category}} </label>
        </div>   
        }
        <div>
            <input type="checkbox" id="selectAll" name="selectAll" [(ngModel)]="selectAll" (ngModelChange)="categoriesAllChange()">
            <label for="selectAll"> Select all </label>
        </div>
    </div>   
    }
    <div class="data_settings">
        <!--
        <div class="source_language">{{displaySourceLanguage()}}</div>
        <div class="target_language">{{displayTargetLanguage()}}</div>
        <button class="icon_class" (click)="languageDirection()">
            <i class="fa fa-exchange"></i>
        </button>
        -->
        <div class="ll_value">Anwsers: {{numberOfQuestions}}</div>
        <input id="numberOfQuestions" type="range" min="2" max="50" [(ngModel)]="numberOfQuestions" /> 
        <div class="ll_value">Time: {{time}}s</div>
        <input id="time" type="range" min="2" max="50" [(ngModel)]="time" /> 
        <button (click)="startGame()" class="ll_button menu_button" [disabled]="disableStart()">Play </button>             
        <button (click)="toHome()" class="ll_button menu_button"> Back </button>    
    </div>  
}