<dialog #cardEditDialog 
[class.permament_genes]="sheetName === 'permament_genes'"
[class.one_time_genes]="sheetName === 'one_time_genes'"
[class.mother_nature]="sheetName === 'mother_nature'" 
[class.science]="sheetName === 'science'"
[class.primary]="sheetName === 'primary'">
    <div class="card_container" >
        <img class="card-image" [src]="imageUrl" alt="NO FOTO" />
        <div></div>
        <div class="card_label">Name:</div>
        <input id="name" type="text" [(ngModel)]="name" />
        <div class="card_label">Description:</div>
        <textarea id="description" rows="5" cols="50" [(ngModel)]="description"> </textarea>
        <div class="number_label">Count: {{count}}</div>
        <input id="count" type="range" min="0" max="10" [(ngModel)]="count" />    
        <button (click)="onSubmit()" class="ll_button" [disabled]="!allowSubmit()">Submit</button>
        <button (click)="close()" class="ll_button">Close</button>
    </div>
</dialog>