<dialog #cardEditDialog>
    <div class="card_icon">
        <div [innerHTML]="displaySafeSvg()"></div>
    </div>
    <div class="card_container">
        <div class="card_label">Name:</div>
        <input id="name" type="text" [(ngModel)]="name" />
        <div class="card_label">Description:</div>
        <textarea id="description" rows="5" cols="50" [(ngModel)]="description"> </textarea>
       
        <div class="protein_label">Protein: {{protein}}</div>
        <div>
     
            <button (click)="plusProtein()" class="ll_button menu_button">+1</button>
            <button (click)="minusProtein()" class="ll_button menu_button">-1</button> 

        </div>
        <div class="card_label">SVG:</div>
        <textarea id="description" rows="5" cols="50" [(ngModel)]="svg"> </textarea>


        <button (click)="onSubmit()" class="ll_button" [disabled]="!allowSubmit()">Submit</button>
        <button (click)="close()" class="ll_button">Close</button>
    </div>
</dialog>