.card_container {
    padding-top: 5px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    padding: 10px;
  }

.card-image {
  height: 100px;
  width: 100px;
}

dialog.mother_nature {
    color:white;
    background-color: green;
}
dialog.mother_nature .ll_button {
    color:white;
    background-color: green;
    border: 1px solid white;  
}
dialog.genes {
    color:black;
    background-color: yellow;
}
dialog.genes .ll_button {
    color: black;
    background-color: yellow;
    border: 1px solid black;  
}
dialog.science {
    color:white;
    background-color: blue;
}
dialog.science .ll_button {
    color:white;
    background-color: blue;
    border: 1px solid white;  
}

.genes {
    color:black;
    background-color: yellow;
}

.genes div {
    color:black;
}
.science {
    color:white;
    background-color: blue;
}
.science div {
    color:white;
}