.card_container {
    padding-top: 5px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    padding: 10px;
  }

.card-image {
  height: 100px;
  width: 100px;
}

dialog.mother_nature {
    color:white;
    background-color: green;
}
dialog.mother_nature .ll_button {
    color:white;
    background-color: green;
    border: 1px solid white;  
}


dialog.permament_genes {
    color:black;
    background-color: yellow;
}
dialog.permament_genes .ll_button {
    color: black;
    background-color: yellow;
    border: 1px solid black;  
}

dialog.one_time_genes {
    color:black;
    background-color: orange;
}
dialog.one_time_genes .ll_button {
    color: black;
    background-color: orange;
    border: 1px solid black;  
}


dialog.science {
    color:white;
    background-color: blue;
}
dialog.science .ll_button {
    color:white;
    background-color: blue;
    border: 1px solid white;  
}

.permament_genes {
    color:black;
    background-color: yellow;
}

.permament_genes div {
    color:black;
}

.one_time_genes {
    color:black;
    background-color: orange;
}

.one_time_genes div {
    color:orange;
}
.science {
    color:white;
    background-color: blue;
}
.science div {
    color:white;
}

dialog.primary {
    color:black;
    background-color: white;
}
dialog.science .ll_button {
    color:black;
    background-color: white;
    border: 1px solid black;  
}


.primary {
    color:black;
    background-color: white;
}

.primary div {
    color:black;
}