@import "../../styles.css";

.quiz_button {
    border-radius: 50%;
    display: inline-block;
    padding: 1px 1px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: var(--ll-text-color);
    background-color: var(--ll-background-color);
    border: none;
    vertical-align: middle;
    border: 1px solid var(--ll-text-color);  
}

.quiz_button:hover {
    background-color: #fed131;
}
.quiz_button:active {
    background-color: var(--ll-background-color);
    transform: translateY(4px);
}

.time {
    font-size: 18px;
}

.question {
    font-size: 18px;
}

.ll_value {
    font-size: 18px;
    padding: 5px;
}

.ll_button.quiz_button {
    font-size: 18px;
}