

.title {
    font-size: 24px;
}
.enviorment_container {
    display: flex;
    gap: 40px;
}

.card-info {
    display: flex;
    gap: 4px;
}

.svg-image {
    width: calc(var(--enviorment-width));    
    height: calc(var(--enviorment-height));
}

i {
    font-size: 24px;
}

.size_container {
    padding-top: 5px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    padding: 10px;
  }
