

.title {
    font-size: 24px;
}
.enviorment_container {
    display: flex;
    gap: 15px;
}

.temperature_zero {
    padding-top: 25px;
}

.card-info {
    display: flex;
    gap: 4px;
}

.svg-image {
    height: calc(var(--enviorment-height));
}

i {
    transform: translate(5px, 25px);
    font-size: 24px;
}

.fa-tree {
    color:green;
}

.fa {
    background-color: black;
}

.fa-snowflake {
    color:white;
}

.fa-sun {
    color: yellow;
}

.size_container {
    padding-top: 5px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    padding: 10px;
  }

.line {
    stroke: black;
    stroke-width: 1;   
}

.circle {
    fill:white;
    stroke: black;
    stroke-width: 1;   
}

.line-number {
    fill:black;
    font-size:18;
}