<div class="game_area">
  <div>
    <div class="enviorment_container">
      <div class="title"> ENVIORMENTS</div>
      <button (click)="exportPdf()" class="ll_button">Export PDF</button>
      <button (click)="toHome()" class="ll_button"> Back </button>   
    </div>
    <div class="card_list" #pdfContent id="pdfContent">
      @if(loading) {
        <div class="loading">Loading...</div>
      } @else {
        @for(cardUrl of cardUrls;track cardUrl) {
          <div class="card_container" >
            <img class="card-image" [src]="cardUrl" alt="NO FOTO" />
          <div>
          </div> 
          </div>
          }
      }
    </div>
  </div>
</div>