<div class="game_area">
  <div>
    <div class="enviorment_container">
      <div class="title"> ENVIORMENTS</div>
      <button (click)="exportPDF()" class="ll_button">Export PDF</button>
      <button (click)="toHome()" class="ll_button"> Back </button>   
    </div>
  <div class="size_container">
      <div class="size_label">width: {{widthEnviorment}}</div>
      <input id="height" type="range" min="0" max="1000" [(ngModel)]="widthEnviorment"  />
      <div class="size_label">height: {{heightEnviorment}}</div>
      <input id="vy" type="range" min="0" max="1000" [(ngModel)]="heightEnviorment"  />        
      
      
        <div class="rows_label">Rows: {{rows}}</div>
        <input id="rows" type="range" min="1" max="5" [(ngModel)]="rows" /> 

      <div></div>
      <div></div>

        <div class="rows_label">Page: {{page+1}}</div>
        <button (click)="plus1()" class="ll_button">plus 1</button>
        <button (click)="minus1()" class="ll_button">minus 1</button>

<div></div>
  </div>
    <div class="card_list" id="pdf-content">
      @if(loading) {
        <div class="loading"></div>
      } @else {
        @for(card of displayList();track card) {
          <div class="card_container" [class.temperature_zero]="card.cold === 0 && card.heat === 0">
            <div class="card-info"> 
              @if(card.cold > 0) {<i class="fa fa-snowflake"></i> }  
              @if(card.cold === 2) {<i class="fa fa-snowflake"></i> }  
              @if(card.heat > 0) {<i class="fa fa-sun"></i> }  
              @if(card.heat === 2) {<i class="fa fa-sun"></i> }  
              @if(card.water ) {<i class="fa fa-water"></i> }  
              @if(card.forest > 0) {<i class="fa fa-tree"></i> }  
              @if(card.forest === 2) {<i class="fa fa-tree"></i> }  
              @if(card.dark) {<i class="fa fa-lightbulb"></i> }  
              @if(card.mountain > 0) {<i class="fa fa-mountain"></i> }  
              @if(card.mountain === 2) {<i class="fa fa-mountain"></i> }  
            </div>
            <svg class="svg-image" [attr.width]="calculateWidth(card)">
            <image class="card-image" [attr.href]="card.url" x="0" y="0" width="100%" height="100%" preserveAspectRatio="xMidYMid slice"  />

            @for(l of lines(card);track l){
              <line class="line"  [attr.x1]="calculateWidth(card)*l/card.capacity" [attr.x2]="calculateWidth(card)*l/card.capacity" [attr.y1]="0" 
              [attr.y2]="heightEnviorment"
              />  
              <circle class="circle" r="15" [attr.cx]="calculateWidth(card)*(l-1)/card.capacity+15" [attr.cy]="heightEnviorment-15"  />
              <text class="line-number" [attr.x]="calculateWidth(card)*(l-1)/card.capacity+10" [attr.y]="heightEnviorment-10">{{l}}</text>
            }
            </svg>
          <div>
          </div> 
          </div>
          }
      }
    </div>
  </div>
</div>