

.title {
    color:var(--ll-text-color);
    font-size: 24px;
}
.enviorment_container {
    display: flex;
    gap: 40px;
}

.card-image {
    width: calc(var(--enviorment-width));    
    height: calc(var(--enviorment-height));
}

.size_label {
   color:var(--ll-text-color);
}

.size_container {
    padding-top: 5px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    padding: 10px;
  }
